@import url('https://fonts.googleapis.com/css?family=Kotta+One|Lacquer&display=swap');

h1{
  margin: 0;
  padding: 0;
font-family: 'Kotta One', ;
}

h5{
  font-size: 30px;
font-family: 'Kotta One', ;
}

.one-edge-shadow {
  box-shadow: 0 10px 20px -7px rgb(93, 173, 1);
}

/*               Header                     */
a{
  color: rgb(241, 227, 227);
  text-decoration: none;
  font-family: 'Lacquer', ;
}

p{
  padding: 0 2em;
  font-family: 'Lacquer', ;
}

.nav_links{
  display: flex;
  list-style-type: none;
  text-decoration: none;
  justify-content: flex-end;
  align-items: center;
  height: 180px;
  background-color: rgb(0, 0, 0);
  /* background-image: url(https://i.gifer.com/K5c.gif); */
}

.portal{
  width: 9%;
  height: 90%;
  margin-left: 20px;
}
.logo{
  margin-right: auto;
  font-size: 40px;
}
/*               Header                     */


/*               Home Page                     */
.grid-container{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat( 23, 100px);
  align-content: center;
  justify-content: center;
}

.home-title1{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  place-self: center center;
  font-size: 3em;
}

.home-par1{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  place-self: end;
  text-align: center;
  font-size: 1.2em;
}

.home-img1{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 6;
  width: 45%;
  place-self: start center;
  box-shadow: 0 10px 15px 3px rgb(93, 173, 1);
}

.home-button{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
  place-self: end center;
}

.home-button-style{
  width: 300px;
  height: 50px;
}

.home-title2{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 7;
  grid-row-end: 8;
  place-self: center center;
  font-size: 3em;
}

.home-par2{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 8;
  grid-row-end: 9;
  place-self: end;
  text-align: center;
  font-size: 1.2em;
}

.home-img2{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 7;
  grid-row-end: 10;
  width: 50%;
  place-self: start center;
  box-shadow: 0 10px 15px 3px rgb(93, 173, 1);

}

.home-title3{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 12;
  grid-row-end: 13;
  place-self: center center;
  font-size: 3em;
}

.home-par3{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start:13;
  grid-row-end: 14;
  place-self: end;
  text-align: center;
  font-size: 1.2em;
}

.home-img3{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 12;
  grid-row-end: 15;
  width: 80%;
  place-self: start center;
  box-shadow: 0 10px 15px 3px rgb(93, 173, 1);

}
.home-title4{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 18;
  grid-row-end: 19;
  place-self: center center;
  font-size: 3em;
}

.home-par4{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 19;
  grid-row-end: 20;
  place-self: start;
  text-align: center;
  font-size: 1.2em;
}

.home-img4{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 18;
  grid-row-end: 21;
  width: 70%;
  place-self: start center;
  box-shadow: 0 10px 15px 3px rgb(93, 173, 1);

}
/*               Home Page                 */


/*                  Footer                */
.footer{
  background-color: rgb(0, 0, 0);
  width: 100vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-container{
  border-bottom: .5px solid rgb(255, 255, 255);
  margin: 0 auto;
  padding: 0;
  width: 80vw;
  height: 80%;
  display: flex;
  flex-direction: row;
}

.footer-container2{
  width: 50%;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.footer-container3{
  width: 50%;
  display: flex;
  flex-direction: row;
}

.footer-container4{
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.sub-container1{
  width: 50%;
  display: flex;
  flex-direction: column;
  color: rgb(255, 255, 255);
}

.sub-container2{
  display: flex;
  flex-direction: column;
  width: 50%;
  color: rgb(255, 255, 255);
}

.sub-container3{
  width: 50%;

  color: rgb(255, 255, 255);

}
.sub-container4{
  width: 50%;
}

span{
  margin: 5% 0;
  font-family: 'Lacquer', ;
}

.bit-giphy-morty{
  width: 50%;
  margin-top: 60px;
  margin-right: 50px;
}

.bit-giphy-rick{
  width: 70%;
  margin: 10px auto;
}

.last-footer-element{
width: 80vw;
height: 10vh;
color: rgb(163, 163, 163);
text-align: center;

}

h4{
  margin: 1px;
  font-size: 15px;
  font-family: 'Kotta One', ;
  margin: 40px;
}

/*                  Footer                */


/*               Drivers                  */
.driver-list{
  border-radius: 100%;
  border: 3px black solid;
  width: 10%;
  height: auto;
  margin: 2em;
}
/*               Drivers                  */


/*               Locations               */
.main-locations-container{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  width: 95%;
  margin: 3% auto;
}

.locations-container {
  display: flex;
  flex-direction: column;
  width: 35%;
  height: 350px;
  margin: 2% 5%;
  border: .5px solid rgba(31, 31, 31, 0.171);
}

.locations-name{
  margin-left: 20px;
  font-size: 40px;
}

.locations-image{
width: 120%;
}

.planet-image-container {
  overflow-x: hidden;
  overflow-y: hidden;
} 

.location-link{
  margin: auto 0;
}

.location-text{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.planet-button {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color:#ededed;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
  text-shadow:0px 1px 0px #ffffff;
  margin: 0 20px;
}
.planet-button:hover {
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	background-color:#dfdfdf;
}
.planet-button:active {
	position:relative;
	top:1px;
}
/*              Locations                */

/*            LocationDetails             */
.location-details-container{
  display: flex;
  flex-direction: column;
}

.location-details-location-image-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.location-details-location-title{
  margin: 20px;
  font-size: 50px;
}

.locations-detail-location-container{
  box-shadow: 0 10px 20px 0px rgba(93, 173, 1, 0.349);
  border: .3px solid rgba(0, 0, 0, 0.24);
  width: 60%;
  margin: 40px auto;
}

.location-details-image{
  width: 30%;
  height: auto;
  margin: 50px auto;
}

.locations-detail-image-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  margin: 60px auto;
}

.location-details-title{
  margin: 50px auto;
  text-align: center;
}

.driver-image{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
  border: .1px solid rgba(0, 0, 0, 0.082);
  margin: 1.6em auto;
  width: 40%;
}

.driver-selector-button{
  width: 150px;
  height: 50px;
  margin: 30% auto;
}

.drivers-detail-image{
  width: 40%;
  margin: 0 auto;
  border: 3px solid black;
  border-radius: 100%;
}

.center{
  margin: 0 auto;
}

.ratings{
  width: 50%;
  margin: 3% auto
}

/*            LocationDetails             */



/*            Driver detail per location             */
.driver-detail-per-location-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.driver-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  border: .1px solid rgba(0, 0, 0, 0.212);
  width: 50%;
  height: 400px;
  margin: 100px auto;
  margin-top: 0;
}

.chosen-drivers-title{
  margin: 3% auto;
  text-align: center;
}

.chosen-driver-image{
  width: 20%;
  margin: 0 auto;
  border: 3px solid black;
  border-radius: 100%;
  margin: 5% auto;

}

.back-to-drivers-button, .choose-driver-button{
  width: 200px;
  height: 50px;
}

.choose-driver-button, .back-to-driver-button {
  margin: 5%;
}
/*            Driver detail per location              */




/*            Payment Page             */

.payment-container{
  display: flex;
  flex-direction: column;
}

.inner-confirmation-container{
  display: flex;
  flex-direction: row;
}

.payment-title{
  text-align: center;
  margin: 5%;
}

.payment-image-container{
  width: 50%;
  margin: 1%;
  text-align: center;
}

.payment-calculation-container{
  width: 50%;
  font-size: 2.5em;
}

.payment-image{
  width: 40%;
}

.payment-button{
  margin: 2% auto;
}

/*            Payment Page             */






/*            Confirmation Page             */
.confirmation-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 70%;
  height: 60 vh;
  margin: 0 auto;
}

.confirmation-driver-name, .confirmation-title, .confirmatio-button-container{
  text-align: center;
  margin: 30px 0;
  margin-top: 0;
}

.confirmation-driver-image{
  width: 20%;
  border: 2px solid black;
  border-radius: 100%;
  margin: 0 auto;
}

.confirmation-button{
  margin: 2%;
  width: 150px;
  height: 40px;
}
/*            Confirmation Page             */


/*                  Help Center                */
.grid-container-help-center{
  display: grid;
  grid-template-columns: 250px 250px 250px 250px;
  grid-template-rows: 200px 200px 200px 200px 200px 200px 200px 200px 200px 200px 200px;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  text-align: center;
}

.help-center-container{
  height: 100vh;
  width: 100vw;
}

.help-center-link{
  width: 100%;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 10;
  grid-row-end: 12;
  justify-content: center;
  align-items: center;
}
.help-center-image{
  justify-content: center;
}

.help-center-image1{
  width: 60%;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.help-center-title1{
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  place-self: end;
  font-size: 2em;
}

.help-center-par1{
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  margin: 0;
  place-self: start;
}

.help-center-image2{
  width: 90%;
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 5;
}

.help-center-title2{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  place-self: end;
  font-size: 2em;
}

.help-center-par2{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
  place-self: start;
}

.help-center-image3{
  width: 38%;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 7;
}

.help-center-title3{
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 6;
  place-self: end;
  font-size: 2em;
}

.help-center-par3{
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 7;
  place-self: start;
}

.help-center-image4{
  width: 35%;
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 7;
  grid-row-end: 9;
}

.help-center-title4{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 7;
  grid-row-end: 8;
  place-self: end;
  justify-self: center;
  font-size: 2em;
}

.help-center-par4{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 8;
  grid-row-end: 9;
  place-self: start;
}

.help-center-title5{
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 9;
  grid-row-end: 10;
  place-self: center;
  justify-self: center;
}
/*                  Help Center                */



/*                  Form Page                */
.form-grid-container{
  display: grid;
  grid-template-columns: 350px 350px 350px 350px;
  grid-template-rows: 150px 150px 150px 150px 150px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: center;
  align-content: center;
  justify-items: center;
}

.form-title{
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  font-size: 4em;
  place-self: center;
}

.form-picture{
  width: 100%;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 4;
  justify-self: end;
}

.form-picture2{
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
  justify-self: start;
}

.form-container{
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 5;
}

.first-name{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  align-self: start;
  justify-self: center;
  font-size: 2em;
}

.last-name{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  align-self: start;
  justify-self: center;
  font-size: 2em;
}

.email{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  align-self: end;
  justify-self: center;
  font-size: 2em;
}

input{
  border: none;
  border-bottom: 2px solid black; 
  width: 100%;
  height: 40px;
}

::-webkit-input-placeholder { 
  color: rgba(0, 0, 0, 0.37);
  text-align: center;
}

*:focus {
    outline: none;
}

input[type="text"] {
  font-family: monospace;
  font-size: 30px;
}

input[type="email"] {
  font-family: monospace;
  font-size: 30px;
}

.text-area{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  align-self: start;
  justify-self: center;
  opacity: .7;
}
textarea{
  font-size: 20px;
}

.form-submit{
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
  place-self: end center;
}

.form-button{
  width: 100px;
  height: 50px;
}
/*                  Form Page                */





/*                  form Submit                */
.form-submit-container{
  display: grid;
  grid-template-columns: 250px 250px 250px 250px;
  grid-template-rows: 100px 100px 100px 100px 100px;
  grid-column-gap: 15px;
  grid-row-gap: 10px;
  justify-content: center;
  align-content: center;
}

.form-title{
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  font-size: 3em;
}

.form-title2{
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  place-self: stretch;
  justify-self: center;

}

.form-image{
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 6;
  width: 72.9%;
  align-self: start;
  justify-self: center;
  padding-left: 100px;
}
/*                  form Submit                */



/*                  PageNotFound PageNotFound                */
.page-not-found-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content:center ;
}

.pagenotfound-title{
  align-self: center;
}

.sun-image{
  width: 30%;
  align-self: center;
  margin-top: 3%;
}

/*                  PageNotFound PageNotFound                */



  /* grid-column-start: ;
  grid-column-end: ;
  grid-row-start: ;
  grid-row-end: ; */




